<%-include("header")-%>
<div class="container">
    <div class="dashboard">
        <h1>Welcome to Express</h1>
        <p><%=user%></p>
        <button><a href="/route/logout">Log out</a></button>
    </div>
</div>

<%-include("footer")-%>